<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title> SimplePaste: make </title>
</head>
<body>

<form action='<%= script_name %>/commit/new' method='post'>
<textarea name='paste_body' rows='30' cols='80'>
</textarea>
</br>
<input type='submit' value='paste'></input>
</br>
Title: <input type='text' name='title'></input>
</br>
Language: 
<select name='language'>
  <option value=''>Plain</option>
  <% if SYNTAX_HIGHLIGHTER_PATH %>
    <% SH_LANG_NAMES.sort.each{|name, lang| %>
      <option value='<%= lang %>'><%= name %></option>
    <% } %>
  <% end %>
</select>

<input type='hidden' name='page_id' value='<%= params[:page_id] %>'></input>

</form>
</body>
</html>



